*{
  margin: 0;
  padding: 0;
}
body{
  background: #40045c;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 70%;
  margin: 100px auto;
  padding: 20px;
  background: #0d045c;
  border-radius: 10px;
}
h1{
  color: white;
}
form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
input{
  width: 300px;
  height: 25px;
  border: 3px solid #40045c;
  border-radius: 5px;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
li {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 20px 0;
  color: white;
  background: none;
  gap: 20px;
}
button {
  border: none;
  cursor: pointer;
  background: #40045c;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
  color: white;
}
.overline{
  background: #40045c;
  padding: 2px 3px;
  border-radius: 5px;
}

@media (min-width: 426px){
  .container{
    width: 400px;
  }
}
@media (min-width: 769px){
  .container{
    width: 100%;
  }
}